/* You can add global styles to this file, and also import other style files */


/* Provide sufficient contrast against white background */

@import '//wwwroot/bootstrap.min.css';
@import '//wwwroot/styles.css';
@import'//wwwroot/css.bootstrap.min.css';
@import'//wwwroot/alertify.css';

.alertify .ajs-dialog {
    position: relative;
    margin: 5% auto;
    min-height: 110px;
    max-width: 500px;
    padding: 24px 24px 0 24px;
    outline: 0;
    background-color: #fff;
    
}
.alertify-notifier {
    position: fixed;
    width: 0;
    overflow: visible;
    z-index: 1982;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

    .alertify-notifier .ajs-message {
        position: relative;
        width: 260px;
        max-height: 0;
        padding: 0;
        opacity: 0;
        margin: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition-duration: 250ms;
        transition-timing-function: linear;
        border-radius: 4px;
        border: 0.2px solid grey;
    }

        .alertify-notifier .ajs-message.ajs-visible {
            transition-duration: 500ms;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            opacity: 1;
            max-height: 100%;
            padding: 15px;
            margin-top: 10px;
        }

        .alertify-notifier .ajs-message.ajs-success {
            background: rgba(91, 189, 114, 0.95);
            color: white;
        }

        .alertify-notifier .ajs-message.ajs-error {
            background: rgba(217, 92, 92, 0.95);
            color:white;
        }

        .alertify-notifier .ajs-message.ajs-warning {
            background: rgba(252, 248, 215, 0.95);
            color: white;
            
        }

    .alertify-notifier.ajs-top {
        top: 10px;
    }

    .alertify-notifier.ajs-bottom {
        bottom: 10px;
    }

    .alertify-notifier.ajs-right {
        right: 10px;
    }

        .alertify-notifier.ajs-right .ajs-message {
            right: -320px;
            
        }

            .alertify-notifier.ajs-right .ajs-message.ajs-visible {
                right: 290px;
            }

    .alertify-notifier.ajs-left {
        left: 10px;
    }

        .alertify-notifier.ajs-left .ajs-message {
            left: -300px;
        }

            .alertify-notifier.ajs-left .ajs-message.ajs-visible {
                left: 0;
            }

/*
.alertify-notifier .ajs-message.ajs-error{
    color: #fff;
    background: red;
    text-shadow: none;
}

ajs-message.ajs-error {
background-color:red;
}

ajs-message.alertify-notifier
aj-succes {
color:green
}*/
a {
    color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


